---
date: 2021-06-08T15:20:28.483Z
title: Subscribed to Project "leiv".
category: photos
layout: note
---

Almost every new building project in The Netherlands has their own website where you can subscribe for updates and eventually can place your digital application.
On this day, June 8th, I subscribed to updates for the project "Leiv" in my hometown.
