---
date: 2020-08-31T18:15:05.111Z
title: 📷 Getting better with the Drone
category: notes
layout: note
---

<script>
  import ResponsiveImage from "$lib/ResponsiveImage.svelte"
</script>

Starting to feel a bit more confident, and I'm able to explore further away, such as this farmer plowing his field a couple of fields away.

<ResponsiveImage src="https://cdn.matsimitsu.com/notes/20200831-DJI_0090.jpg" width="4000" height="2250" alt="Drone shot of tractor tending to fields" />
