---
date: 2020-11-23T15:45:42.267Z
title: Fall leaves
category: photos
layout: note
---

<script>
  import ResponsiveImage from "$lib/ResponsiveImage.svelte"
</script>

<ResponsiveImage src="https://cdn.matsimitsu.com/notes/20201101-DSC01252.jpg" width="4000" height="4000" alt="Fall leaves" />

Nice fall colours during a nice walk.
