---
date: 2020-11-23T15:45:42.267Z
title: 📷 Fall leaves
category: photo
layout: note
---

![20201101-DSC01252.jpg](https://d3khpbv2gxh34v.cloudfront.net/r/notes/20201101-DSC01252-720.jpg "1.0")

Nice fall colours during a nice walk.
