---
date: 2020-09-02T17:24:02.648Z
title: The Rhine River
category: photos
layout: note
---

<script>
  import ResponsiveImage from "$lib/ResponsiveImage.svelte"
</script>

<ResponsiveImage src="https://cdn.matsimitsu.com/notes/20200902-DJI_0123.jpg" width="4000" height="2250" alt="Drone shot of ship sailing on the Rhine river" />

Sometimes I forget that views like these are only a 20 minute bike-ride away.
