---
date: 2022-01-18T12:00:00.000Z
title: "The Fable: The Killer Who Doesn't Kill (Japanese)"
category: reviews
layout: note
---

<script>
  import ResponsiveImage from "$lib/ResponsiveImage.svelte"
</script>
<ResponsiveImage src="https://cdn.matsimitsu.com/notes/fable1.jpg" width="848" height="477" alt="Fable" />

The Fable (Japanese title: ザ・ファブル 殺さない殺し屋) is apparently the _second_ movie about a hitman. I still have to watch the first one 🤦.

It's about a legendary hitman named Akira who has to lay low and can't commit any murders for a while. He works a menial job at a graphic design studio, and of course, things happen that make it really hard for him not to kill.

It's a fun action-comedy that starts off slow but gains speed halfway through and has a nice ending.

Good for a boring night in COVID isolation, and it's available on [Netflix](https://www.netflix.com/title/81507232)
