---
title: "day One"
layout: trip
---

<script>
	import ResponsiveImage from '$lib/ResponsiveImage.svelte'
  import Panels from '$lib/Panels.svelte'
  import Map from '$lib/Map.svelte'
</script>

# Hello friends

This is a paragraph

And this anothe rparagraph

<Panels>
  <ResponsiveImage src="https://cdn.matsimitsu.com/egypt-2009/luxor/20090823-_DSC0003.jpg"/>
  <ResponsiveImage src="https://cdn.matsimitsu.com/egypt-2009/luxor/20090823-_DSC0003.jpg"/>
</Panels>

<div class="mx-auto max-w-screen-lg mt-12 prose px-4">
  <h2 class="flex items-center border-b">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" class="h-4 w-4 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path></svg>
    <span>Hurghada</span>
  </h2>
  <div class="flex flex-col lg:flex-row">
    <div class="flex-1 flex-shrink mr-4">
      <p>Hurghada was founded in the early 20th century. For many decades it was a small fishing village, but it has grown into a major Red Sea resort as a result of Egyptian and foreign investment that began in the 1980s. </p>
      <p>Holiday resorts and hotels provide facilities for windsurfing, kitesurfing, yachting, scuba diving and snorkeling. The city is known for its watersports, nightlife and warm weather. Daytime temperatures are around 30 °C (86 °F) most of the year, and during July and August temperatures can reach over 40 °C (104 °F). </p>
      <p>Hurghada is a popular holiday destination for Europeans, especially during the winter, and some spend Christmas and New Year there. Tourist numbers from Russia dropped significantly after the Metrojet Flight 9268 plane crash in November 2015.
      </p>
    </div>
    <div class="flex-1 flex-shrink ml-4"><Map /></div>
  </div>
</div>

<ResponsiveImage src="https://cdn.matsimitsu.com/egypt-2009/luxor/20090823-_DSC0003.jpg"/>
